<div class="container">
  <h1>{{ title }}</h1>
<h2>{{ welcome }}</h2>
<ul>
  <li *ngFor="let task of tasks">{{ task }}</li>
</ul>
<p>Usuario numero {{ 8 * 3 }}</p>
<p>{{ name() }} {{ lastName }}</p>
<p>{{ age }}</p>
<p>{{ email }}</p>
<p>{{ phone }}</p>
<p>{{ address }}</p>
<p>{{ city }}</p>
<p>{{ country }}</p>
<p>{{ name() }} {{ lastName }} {{ age }}</p>

<p> el usuario se llama {{ name() }} {{ lastName }} y tiene {{ age }} años</p>

<img [src]="img" alt="Imagen">

<input type="text" [(ngModel)]="nameUser">
<button [disabled]="disabled">Click me</button>
<p>person: {{ person().name }} </p>

<input type="number" [value]="person().age">

<button (click)="clickHandler()">Click me mario</button>

<button (dblclick)="clickHandler()">Double Click me</button>
<p>(change)</p>
<input type="number" [value]="person().age" (change)="changeInput($event)">
<p>(change)</p>
<input type="number" [value]="person().age" (change)="changeInput($event)">
<p>(keydown)</p>
<input type="text" [value]="person().name" (keydown)="keydownHandler($event)">

<p>(keydown)</p>
<input type="text" [value]="person().name" (keydown.shift.t)="clickHandler()">
<hr>
<h1>Signals</h1>

<input type="text" [value]="name()" (change)="changeInput($event)">
<p>name: {{ name() }}</p>
<p>name: {{ name() }}</p>

<p>Total: {{ tasks2().length }}</p>
<ul>
  <li *ngFor="let task of tasks2(); index as i">
    {{ i }} - {{ task }}
  </li>
</ul>

<hr>
<div *ngIf="1 !== 1">
  Content
</div>
<div *ngIf="name() === 'Juan'">
  Subcription
</div>
<div *ngIf="person().age >= 14; else miBloque">
  Mayor de edad
</div>
<ng-template #miBloque>
  Menor de edad
</ng-template>

<div *ngIf="person().name === 'Mario' && person().age >= 18; else miBloque">
  <h3>Información del Usuario</h3>
  <p>Nombre: {{ person().name }}</p>
  <p>Edad: {{ person().age }}</p>
  <p>Estado: Mayor de edad</p>
</div>
<ng-template #miBloque>
  <h3>Información del Usuario</h3>
  <p>Nombre: {{ person().name }}</p>
  <p>Edad: {{ person().age }}</p>
</ng-template>

<div [ngSwitch]="person().name">
  <p *ngSwitchCase="'Mario'">El Nombre del usuario: {{ person().name }}</p>
</div>